/* 
Project: 	Blank Template
Author: 	George Sydney Selwyn-Brace
*/

/* Defaults */

* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
img {
	max-width:100%;
}
html{
	font-size: 20px;
}
body{
	font-family: 'Founders Grotesk Text', sans-serif;
}

/* fixed furniture */

header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
h1{
	font-size: 2rem;
	font-weight: normal;
}
h2{
	font-size: 1rem;
	font-weight: normal;
}
a{
	color: inherit;
	text-decoration: none;
}
.name{
	position: fixed;
	top: 40px;
	left: 40px;
}
.navigation{
	position: fixed;
	top: 40px;
	right: 40px;
}

.hero{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/landscape.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.hero h1{
	position: absolute;
	left: 50%;
	top: 48%;
	transform: translate(-50%, -50%);

	width: 780px;
	color: #fff;
	text-align: center;
}
.tint{
	width: 100%;
	height:100vh;
	background-color: rgba(0,0,0,0.2);
}


/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}

/* Additional Style */

