/* 
Project: 	Blank Template
Author: 	George Sydney Selwyn-Brace
*/

/* Defaults */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img {
	width:100%;
}
svg{
	width: 100%;
}
.margin-above{
	margin-top: 10rem;
}

/* Type */

html{
	font-size: 20px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
h1{
	font-family: 'Sabon MT Std', Times, serif;
	font-size: 2.2rem;
	font-weight: normal;
	line-height: 130%;

	padding-bottom: 1.5rem;
	margin-bottom: 2rem;
	border-bottom: solid 1px #ccc;
}
h2{
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.05em;
}
h3{
	font-size: 0.7rem;
	font-weight: 300;
	line-height: 145%;
	letter-spacing: 0.05em;
}
p{
	font-size: 1rem;
	margin-bottom: 1rem;
	color: #222;
	line-height: 145%;
	font-weight: 300;
	letter-spacing: 0.03em;
}
a{
	color: inherit;
	text-decoration: none;
}

/* Furniture */

header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding:25px 40px;
	z-index: 250;
	background-color: rgba(255, 255, 255, 0.7);
	/*border: solid 1px red;*/
}
.logo{
	position: absolute;
	width: 10rem;
	top: 28px;
	left: 40px;
}
.navigation{
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	text-align: right;
	/*border: solid 1px green;*/
}
.work-wrap{
	width: 100%;
	background-color: #eee;
	padding: 10rem 0 5rem;
	position: relative;
}
.work-module{
	width: 50%;
	float: left;
	margin-bottom: 20px;
}
.work-module:nth-child(odd){
	padding-right: 10px;
}
.work-module:nth-child(even){
	padding-left: 10px;
}
.work-module h3{
	margin-top: 0.5em;
}
footer{
	width: 100%;
	background-color: #eee;
	padding-bottom: 80px;
	position: relative;

}
.footer-wrapper{
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-top: solid 1px #ccc;
	padding-top: 40px;
}
.footer-wrapper h3{
	width: 50%;
	float: left;
	color: #777;
	padding-left: 10px;
}
.logo-footer{
	width: 50%;
	float:left;
	fill: #777;
	/*padding-right: 200px;*/
}
.logo-footer svg{
	width: 7.5rem;
}

/*Page content*/

.content-block{
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	/*border: solid 1px blue;*/
}
.full-viewport{
	width: 100%;
	height: 100vh;
	background-size: cover;
}
#hc-glencoe{
	background-image: url(../images/hc-glencoe.jpg);
	background-position: top;
}
#lux-interior{
	background-image: url(../images/lux-interior.jpg);
	background-position: bottom;
}
#tnc-gareth{
	background-image: url(../images/tnc-gareth.jpg);
	background-position: top;
}
#tnc-packaging{
	background-image: url(../images/tnc-packaging.jpg);
	background-position: bottom;
}


/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}

/* Additional Style */

